:root {
    --bg-main: #2f3e46;
    --bg-secondary: #354f52;
    --accent: #84a98c;
    --text-light: white;
    --text-dark: black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--bg-main);
    color: var(--text-light);
    margin-inline: auto;
    max-width: 1200px;
    padding-inline: 1rem;
    line-height: 1.6;
}

#intro h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 8rem 0 2rem 0;
    text-transform: uppercase;
    font-size: clamp(2.5rem, 5vw, 5rem);
}

#intro p {
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 0 8rem 0;
}

#navbar {
    background-color: var(--bg-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border: var(--bg-main) solid thin;
    
    /* border-top: none; */
    border-bottom: none;
}

#navbar a {
    
    display: block;
    padding: 1.2rem 1.8rem;
    color: var(--text-light);
    text-decoration: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif; 
}

#navbar a:hover {
    background-color: var(--accent);    
}

#navbar .active a {
    background-color: var(--text-light);
    color: var(--text-dark);
    border: none;
}

#navbar ol{
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar li{
    list-style: none;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;    
}

.posts article {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--text-light);
    color: var(--text-dark);
    font-size: 1.4rem;  
    width: 50%;
    margin: 0;
    border: var(--bg-main) solid thin;
}

.posts article.post-featured {
    width: 100%;
    border-top: none;
}

.posts h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
    line-height: 1.3;
    letter-spacing: 0.03em;
}

.posts h3 {
    text-transform: uppercase;
    margin: 2rem 2rem 1rem 2rem;
    font-size: 1.3rem;
    letter-spacing: 0.04em;
    padding-left: 0.5rem;
}


.posts article h2 a{
    font-size: clamp(1rem, 5vw, 1.6rem);
    text-align: center;
    color: var(--text-dark);
    text-decoration: none;   
}

.posts article h2 a:hover {
    color: #52796f;
}

.posts article.post-featured h2 {
    padding: 1rem;
}

.posts article.post-featured h2 a{
    font-size: clamp(2rem, 5vw, 3rem);
}

.posts img {
    display: block;
    max-width: 80%;
    margin: 0 auto 2rem auto;
}

.posts article p {
    font-size: 1.3rem;
    padding: 0 clamp(1rem, 4vw, 5rem);
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    line-height: 1.75;
}

.posts article ul {
    padding: 0 0 0 4rem;
}

.posts article .date {
    display: block;
    text-align: center;
    padding: 1rem 0 0 0;
}

.posts form {
    text-align: center;
    padding: 0 0 2rem 0;
}

.posts .button {
    display: block;
    justify-self: center;
    font-size: 1.4rem;
    padding: 0.6rem 0.6rem;
    background-color: var(--text-light);
    border: 0.1rem solid var(--text-dark);
    color: var(--text-dark);
    text-decoration: none;
    margin: 0 0 1rem 0;
    text-align: center;

}

.posts .button:hover {
    color: var(--accent);
    border: 0.1rem solid var(--accent);
}

.posts article li {
    margin-bottom: 0.4rem;
    margin-left: 1rem;
    line-height: 1.6;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}

.posts article strong {
    color: var(--bg-secondary);
}

footer {
    margin: 6rem 0 2rem 0;
}

footer section {
    display: flex;
    justify-content: flex-start;
    background-color: #e0e1dd;
    border: thin solid var(--text-dark);
    color: var(--text-dark);
}

footer section h3{
    margin: 2.3rem 0 2.3rem 2rem;
    font-size: 1.2rem;
    width: 6rem;
    
}

footer section p {
    font-size: 1.2rem;
    margin: 2.3rem 0;
    color: gray;
    text-align: left;
}

footer section p a{
    text-decoration: none;
    font-size: 1.2rem;
    margin: 2.3rem 0;
    color: gray;
    text-align: left;
}

footer section p a:hover{
    color: #18bfef;
}

footer section ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    font-size: 1.4rem;
    padding: 0;
}

footer section ul li {
    display: block;
    margin: 0 1rem 0 0;
}

.footer-icons li a {
    border: none;
    width: 1.4rem;
    height: 1.4rem;
    color: gray;
    font-size: 1.2rem;
    background-color: inherit;
    text-decoration: none;
}

.footer-icons li a:hover {
    color: var(--text-dark);
}

.footer-icons li a i {
    margin: 0 0.4rem 0 0;
}

#copyright {
    margin: 2rem 0;
    font-size: 1.4rem;
}

#copyright ul {
    display: flex;
}

#copyright ul li {
    display: block;
    padding: 0 1rem;
} 

#copyright ul li a{
    color: var(--text-light);
    text-decoration: none;
}

#copyright ul li a:hover{
    color: var(--accent)
}

.post-links {
    padding: 1rem;
    margin: 0;
    border: thin solid var(--text-dark);
    border-top: none;
    background-color: var(--text-light);
}

.post-links li {
    display: block;
    padding: 0.3rem;
    width: 100%; 
}

.post-links li a{
    text-decoration: none;
    color: var(--text-dark);
    font-size: 1.3rem;
}

.post-links li a:hover{
    color: var(--accent);
}


pre code{
    display: block;
    overflow-x: auto;
    margin: 0 2rem; 
    white-space: pre;  
}

code {
    font-family: "Courier New", monospace;
    border: solid #dcdcdcbf; 
    background-color: #dcdcdc40;
    padding: 0.2rem;
    white-space: nowrap;
}




@media screen and (max-width: 800px) {

    .posts article {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {

    body {
        padding-inline: 0;
    }
}
